<div class="skills-grid" data-aos="zoom-in">
<section id="projects" class="projects">
  <h2>Projects</h2>
  <div class="project-grid">
    <div class="project-card">
      <h3>Inventory Management System(Full Stack)</h3>
      <p>Technologies Used:
         Angular,TypeScript,Spring Boot,Java,JavaScript,MySQL,GitHub,Git</p>
      <a href="#">View</a>
    </div>
    <div class="project-card">
      <h3>Chrome Homepage Clone(Front End)</h3>
      <p>Technologies Used:
        HTML, CSS, JavaScript,openweathermap api</p>
      <a href="#">View</a>
    </div>
    <div class="project-card">
      <h3>Bank Insights Dashboard(Analytics)</h3>
      <p>Technologies Used:
        Power BI</p>
      <a href="#">View</a>
    </div>
    <div class="project-card">
      <h3>Brain Tumour Prediction(Data Analysis)</h3>
      <p>Technologies Used:
        Python,Pandas,Numpy,Matplotlib</p>
      <a href="#">View</a>
    </div>
  </div>
</section>
