<section id="education" class="education-section" data-aos="zoom-in">
  <h1 class="section-heading">Education</h1>
  <div class="card-grid">
    <div class="education-card">
      <h3>BE – Computer Science Engineering</h3>
      <p>RMK Engineering College, 2021–2025</p>

    </div>
    <div class="education-card">
      <h3>HSC – 12th Standard</h3>
      <p>Cambridge Matriculation Hr. Sec. School, 2021</p>

    </div>
    <div class="education-card">
      <h3>SSLC – 10th Standard</h3>
      <p>Cambridge Matriculation Hr. Sec. School, 2019</p>

    </div>
  </div>
</section>