.skill-category {
  margin-bottom: 40px;
}

.skill-category h3 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 15px;
  text-align: center;
}

.skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.skills-row img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}

.skills-row img:hover {
  transform: scale(1.1);
}

.github-logo {
  transition: filter 0.3s ease;
}

body.dark-mode .github-logo {
  filter: invert(1);
}

.divider {
  display: grid !important;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  /* margin-top: 40px; */
  align-items: start;
}
h1{
  margin-bottom: 40px;
}
@media (max-width: 480px) {
  .skills-row {
    justify-content: center;
    flex-wrap: wrap;
  }

  .divider .skill-category h3 {
    min-height: 55px;
  }

  .skills-row img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 360px) {
  .divider {
    gap: 11px;
    margin-top: 2px;
  }
  h1{
    margin-bottom: 10px;
  }
  .skill-category
  {
    margin-bottom: 2px;
  }
}