.skill-category {
  margin-bottom: 40px;
}

.skill-category h3 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 15px;
  text-align: center;
}

.skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.skills-row img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}

.skills-row img:hover {
  transform: scale(1.1);
}

.github-logo {
  transition: filter 0.3s ease;
}

body.dark-mode .github-logo {
  filter: invert(1);
}

.divider {
  display: grid !important;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  margin-top: 40px;
  align-items: start;
}


@media (max-width: 768px) {
  .skills-row {
    justify-content: center;
    flex-wrap: wrap;
  }

  .skills-row img {
    width: 50px;
    height: 50px;
  }
}