<section id="projects" class="projects" data-aos="zoom-in">
  <h2 class="project-title">Projects</h2>

  <div class="project-carousel">
    <button class="arrow-button" (click)="prevProject()">&#x25C0;</button>

    <div class="project-card">
      <h3>{{ projects[currentIndex].title }}</h3>
      <p><i>{{ projects[currentIndex].techStack }}</i></p>
      <a [href]="projects[currentIndex].link" target="_blank">View</a>
    </div>

    <button class="arrow-button" (click)="nextProject()">&#x25B6;</button>
  </div>
</section>