<section id="projects" class="projects" data-aos="zoom-in">
  <h2>Projects</h2>
  <div class="project-grid">
    <div class="project-card">
      <h3>Inventory Management System (Full Stack)</h3>
      <p><i>Angular, TypeScript, Spring Boot, Java, JavaScript, MySQL, GitHub, Git</i></p>
      <a href="#">View</a>
    </div>
    <div class="project-card">
      <h3>Chrome Homepage Clone (Front End)</h3>
      <p><i>HTML, CSS, JavaScript, OpenWeatherMap API</i></p>
      <a href="#">View</a>
    </div>
    <div class="project-card">
      <h3>Bank Insights Dashboard (Analytics)</h3>
      <p><i>Power BI</i></p>
      <a href="#">View</a>
    </div>
    <div class="project-card">
      <h3>Brain Tumour Prediction (Data Analysis)</h3>
      <p><i>Python, Pandas, NumPy, Matplotlib</i></p>
      <a href="#">View</a>
    </div>
  </div>
</section>