<section class="experience-section" id="experience" data-aos="zoom-in">
  <h2 class="section-title">Experience</h2>

  <div *ngFor="let exp of experiences" class="experience-card">
    <div class="experience-header">
      <h3 class="role">{{ exp.role }}</h3>
      <span class="company">{{ exp.company }}</span>
      <span class="duration-location">{{ exp.duration }} • {{ exp.location }}</span>
    </div>
    <ul class="responsibilities">
      <li *ngFor="let task of exp.responsibilities">{{ task }}</li>
    </ul>
  </div>
</section>