<section class="experience-section" id="experience" data-aos="zoom-in">
  <h2 class="section-title">Experience</h2>

  <!-- GRID reserves arrow space -->
  <div class="carousel-grid">
    <!-- LEFT ARROW -->
    <button class="arrow" (click)="prev()">&#9664;</button>

    <!-- CARD -->
    <div class="experience-card">
      <h3 class="position">
        {{ experiences[currentIndex].position }}
        - {{ experiences[currentIndex].company }}
      </h3>

      <span class="duration-location">
        {{ getDuration(experiences[currentIndex]) }} •
        {{ experiences[currentIndex].location }}
      </span>

      <span class="total-exp">
          Total Experience: {{ getTotalExperience() }} months
      </span>

      <span class="role">
          Role: {{ experiences[currentIndex].role  }}
      </span>

      <!-- <span class="company">
        {{ experiences[currentIndex].company }}
      </span> -->


      <ul>
        <li *ngFor="let task of experiences[currentIndex].responsibilities">
          {{ task }}
        </li>
      </ul>
    </div>

    <!-- RIGHT ARROW -->
    <button class="arrow" (click)="next()">&#9654;</button>
  </div>
</section>
